In [2]:
import pandas as pd
import numpy as np

In [12]:
nfl = pd.read_csv("../dataset/nfl/NFL.csv", low_memory=False)
nfl.shape

(362447, 102)

In [4]:
nfl.isnull().sum()

Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64

In [5]:
nfl.describe()

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
count,3.624470e+05,362447.000000,362447.000000,308229.000000,362447.000000,362259.000000,362073.000000,361724.000000,361724.000000,362447.000000,...,141713.000000,340504.000000,340504.000000,339087.000000,339087.000000,340454.000000,357630.000000,141709.000000,141491.000000,362447.000000
mean,2.012664e+09,12.347088,2.578231,2.001226,7.386076,1695.234346,20.574649,28.413542,48.616807,7.305236,...,-0.386522,0.533889,0.466561,0.534217,0.466185,0.501311,0.002163,0.015209,-0.010492,2012.522071
std,2.292258e+06,7.168173,1.130259,1.006003,4.642132,1063.065717,18.030486,13.002355,25.161965,4.863445,...,1.972964,0.286415,0.286468,0.288647,0.288694,0.288207,0.045326,0.056422,0.067972,2.290084
min,2.009091e+09,1.000000,1.000000,1.000000,0.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,...,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673,2009.000000
25%,2.011091e+09,6.000000,2.000000,1.000000,3.000000,778.000000,5.000000,20.000000,30.000000,3.000000,...,-0.964562,0.323129,0.230595,0.319464,0.226867,0.274964,-0.014589,-0.011355,-0.018623,2011.000000
50%,2.013091e+09,12.000000,3.000000,2.000000,7.000000,1800.000000,17.000000,30.000000,49.000000,9.000000,...,0.000000,0.531286,0.469040,0.533689,0.466617,0.504349,0.000000,0.003557,0.000000,2013.000000
75%,2.015091e+09,18.000000,4.000000,3.000000,11.000000,2585.000000,37.000000,39.000000,70.000000,10.000000,...,0.484913,0.770011,0.677566,0.773729,0.681018,0.726995,0.014800,0.035702,0.011371,2015.000000
max,2.017010e+09,35.000000,5.000000,4.000000,15.000000,3600.000000,943.000000,50.000000,99.000000,50.000000,...,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000,2016.000000

In [6]:
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362447 entries, 0 to 362446
Columns: 102 entries, Date to Season
dtypes: float64(33), int64(31), object(38)
memory usage: 282.1+ MB

In [13]:
# Missing values를 col방향으로 drop시키기
dropped_nfl = nfl.dropna(axis=1)
dropped_nfl.isnull().sum()

Date                           0
GameID                         0
Drive                          0
qtr                            0
TimeUnder                      0
ydstogo                        0
ydsnet                         0
PlayAttempted                  0
Yards.Gained                   0
sp                             0
Touchdown                      0
Safety                         0
Onsidekick                     0
PlayType                       0
Passer_ID                      0
PassAttempt                    0
AirYards                       0
YardsAfterCatch                0
QBHit                          0
InterceptionThrown             0
Rusher_ID                      0
RushAttempt                    0
Receiver_ID                    0
Reception                      0
Fumble                         0
Sack                           0
Challenge.Replay               0
Accepted.Penalty               0
Penalty.Yards                  0
HomeTeam                       0
AwayTeam                       0
Timeout_Indicator              0
Timeout_Team                   0
posteam_timeouts_pre           0
HomeTimeouts_Remaining_Pre     0
AwayTimeouts_Remaining_Pre     0
HomeTimeouts_Remaining_Post    0
AwayTimeouts_Remaining_Post    0
ExPoint_Prob                   0
TwoPoint_Prob                  0
Season                         0
dtype: int64

In [14]:
dropped_nfl.shape

(362447, 41)

In [16]:
#Drop된 column들이 뭔지 확인해보기
dropped_columns = [col for col in nfl if nfl[col].isnull().any()]
dropped_columns

['down',
 'time',
 'TimeSecs',
 'PlayTimeDiff',
 'SideofField',
 'yrdln',
 'yrdline100',
 'GoalToGo',
 'FirstDown',
 'posteam',
 'DefensiveTeam',
 'desc',
 'ExPointResult',
 'TwoPointConv',
 'DefTwoPoint',
 'PuntResult',
 'Passer',
 'PassOutcome',
 'PassLength',
 'PassLocation',
 'Interceptor',
 'Rusher',
 'RunLocation',
 'RunGap',
 'Receiver',
 'ReturnResult',
 'Returner',
 'BlockingPlayer',
 'Tackler1',
 'Tackler2',
 'FieldGoalResult',
 'FieldGoalDistance',
 'RecFumbTeam',
 'RecFumbPlayer',
 'ChalReplayResult',
 'PenalizedTeam',
 'PenaltyType',
 'PenalizedPlayer',
 'PosTeamScore',
 'DefTeamScore',
 'ScoreDiff',
 'AbsScoreDiff',
 'No_Score_Prob',
 'Opp_Field_Goal_Prob',
 'Opp_Safety_Prob',
 'Opp_Touchdown_Prob',
 'Field_Goal_Prob',
 'Safety_Prob',
 'Touchdown_Prob',
 'ExpPts',
 'EPA',
 'airEPA',
 'yacEPA',
 'Home_WP_pre',
 'Away_WP_pre',
 'Home_WP_post',
 'Away_WP_post',
 'Win_Prob',
 'WPA',
 'airWPA',
 'yacWPA']

In [17]:
#Imputation
#Missing Value들을 다른 값으로 채워보기

nfl.isnull().sum()

Date             0
GameID           0
Drive            0
qtr              0
down         54218
             ...
Win_Prob     21993
WPA           4817
airWPA      220738
yacWPA      220956
Season           0
Length: 102, dtype: int64

In [20]:
#SimpleImputer 이용해보기
#from sklearn.impute import SimpleImputer

#중앙값으로 채워보기
#imputer = SimpleImputer(strategy="median")
#imputed_nfl = imputer.fit_transform(nfl)

#could not convert string to float: '2009-09-10' 같은 에러뜸
#그런데 strategy="constant"로 해주면 잘 되긴 함.. 근데 이게 맞나?

#그래서 encoding을 먼저 해주기로 함!

In [25]:
#LabelEncoding 시도해보기
from sklearn.preprocessing import LabelEncoder

#nfl copy본 생성
le_nfl = nfl.copy()

#LabelEncoder
le = LabelEncoder()

#fit_transform
for col in le_nfl:
    le_nfl[col] = le.fit_transform(le_nfl[col].astype(str).values)
    
le_nfl

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0,0,0,0,4,900,7,3620,0,34,...,120431,136295,182328,165370,154266,145803,300538,141276,120680,0
1,0,0,0,0,0,893,7,3611,113,28,...,101939,164869,153754,167265,152373,174180,202501,47069,103305,0
2,0,0,0,0,1,856,7,3570,65,28,...,120431,166758,151865,149114,170524,176108,147941,141276,120680,0
3,0,0,0,0,2,815,6,3525,73,28,...,47940,148654,169969,125744,193891,157995,155410,134692,48717,0
4,0,0,0,0,3,807,6,3516,125,28,...,120431,125357,193266,170455,149183,135227,315859,141276,120680,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,375,2034,12,3,0,22,1,2063,94,12,...,51863,17443,301180,27080,292320,21533,283120,109544,54623,7
362443,375,2034,12,3,4,13,1,1063,138,12,...,120431,26971,291652,13527,305810,32564,160818,141276,120680,7
362444,375,2034,13,3,4,13,1,1063,0,11,...,120431,13468,305155,13904,305432,300174,13681,141276,120680,7
362445,375,2034,13,3,0,12,1,952,1,11,...,120431,13845,304778,0,320842,299729,275186,141276,120680,7
362446,375,2034,13,3,4,0,0,728,17,11,...,120431,0,320210,0,320842,292074,177545,141276,120680,7

In [29]:
#다시 데이터셋 확인해보기
le_nfl.isnull().sum()

Date        0
GameID      0
Drive       0
qtr         0
down        0
           ..
Win_Prob    0
WPA         0
airWPA      0
yacWPA      0
Season      0
Length: 102, dtype: int64

In [31]:
#그런데 LabelEncoding을 해줬더니 결측값 자체도 하나의 카테고리로 인코딩되었나봄..
#그래서 imputation을 most_frequent 방식으로 한 다음에, 다시 LabelEncoding을 해보기로 함

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="most_frequent")
imputed_nfl = imputer.fit_transform(nfl)

imputed_nfl

array([['2009-09-10', 2009091000, 1, ..., 0.0027938013996506, 0.0, 2009],
       ['2009-09-10', 2009091000, 1, ..., -0.0322439869661942,
        0.0368989644153847, 2009],
       ['2009-09-10', 2009091000, 1, ..., 0.0027938013996506, 0.0, 2009],
       ...,
       ['2017-01-01', 2017010102, 21, ..., 0.0027938013996506, 0.0, 2016],
       ['2017-01-01', 2017010102, 21, ..., 0.0027938013996506, 0.0, 2016],
       ['2017-01-01', 2017010102, 21, ..., 0.0027938013996506, 0.0, 2016]],
      dtype=object)

In [33]:
#다시 label encoding진행

le2 = LabelEncoder()
le_nfl = nfl.copy()

for col in le_nfl:
    le_nfl[col] = le2.fit_transform(le_nfl[col].astype(str).values)
    
le_nfl.isnull().sum()

Date        0
GameID      0
Drive       0
qtr         0
down        0
           ..
Win_Prob    0
WPA         0
airWPA      0
yacWPA      0
Season      0
Length: 102, dtype: int64

In [39]:
nfl

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,2017-01-01,2017010102,20,4,1.0,00:22,1,22.0,6.0,GB,...,0.000000,0.051901,0.948099,0.093435,0.906565,0.051901,0.041534,0.041534,0.000000,2016
362443,2017-01-01,2017010102,20,4,NaN,00:13,1,13.0,9.0,GB,...,NaN,0.093435,0.906565,0.034069,0.965931,0.093435,-0.059366,NaN,NaN,2016
362444,2017-01-01,2017010102,21,4,NaN,00:13,1,13.0,0.0,DET,...,NaN,0.034069,0.965931,0.035708,0.964292,0.965931,-0.001639,NaN,NaN,2016
362445,2017-01-01,2017010102,21,4,1.0,00:12,1,12.0,1.0,DET,...,NaN,0.035708,0.964292,0.000000,1.000000,0.964292,0.035708,NaN,NaN,2016
362446,2017-01-01,2017010102,21,4,NaN,00:00,0,0.0,12.0,DET,...,NaN,0.000000,1.000000,0.000000,1.000000,0.934245,0.000000,NaN,NaN,2016

In [43]:
le_nfl

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,0,0,0,0,4,900,7,3620,0,34,...,120431,136295,182328,165370,154266,145803,300538,141276,120680,0
1,0,0,0,0,0,893,7,3611,113,28,...,101939,164869,153754,167265,152373,174180,202501,47069,103305,0
2,0,0,0,0,1,856,7,3570,65,28,...,120431,166758,151865,149114,170524,176108,147941,141276,120680,0
3,0,0,0,0,2,815,6,3525,73,28,...,47940,148654,169969,125744,193891,157995,155410,134692,48717,0
4,0,0,0,0,3,807,6,3516,125,28,...,120431,125357,193266,170455,149183,135227,315859,141276,120680,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362442,375,2034,12,3,0,22,1,2063,94,12,...,51863,17443,301180,27080,292320,21533,283120,109544,54623,7
362443,375,2034,12,3,4,13,1,1063,138,12,...,120431,26971,291652,13527,305810,32564,160818,141276,120680,7
362444,375,2034,13,3,4,13,1,1063,0,11,...,120431,13468,305155,13904,305432,300174,13681,141276,120680,7
362445,375,2034,13,3,0,12,1,952,1,11,...,120431,13845,304778,0,320842,299729,275186,141276,120680,7
362446,375,2034,13,3,4,0,0,728,17,11,...,120431,0,320210,0,320842,292074,177545,141276,120680,7

In [52]:
#One-Hot Encoding도 해보기
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder()
oh_nfl = nfl.copy()

oh_nfl = enc.fit_transform(oh_nfl)

In [51]:
oh_nfl

                                                        0
0         (0, 0)\t1.0\n  (0, 376)\t1.0\n  (0, 2424)\t1...
1         (0, 0)\t1.0\n  (0, 376)\t1.0\n  (0, 2424)\t1...
2         (0, 0)\t1.0\n  (0, 376)\t1.0\n  (0, 2424)\t1...
3         (0, 0)\t1.0\n  (0, 376)\t1.0\n  (0, 2424)\t1...
4         (0, 0)\t1.0\n  (0, 376)\t1.0\n  (0, 2424)\t1...
...                                                   ...
362442    (0, 375)\t1.0\n  (0, 2410)\t1.0\n  (0, 2443)...
362443    (0, 375)\t1.0\n  (0, 2410)\t1.0\n  (0, 2443)...
362444    (0, 375)\t1.0\n  (0, 2410)\t1.0\n  (0, 2444)...
362445    (0, 375)\t1.0\n  (0, 2410)\t1.0\n  (0, 2444)...
362446    (0, 375)\t1.0\n  (0, 2410)\t1.0\n  (0, 2444)...

[362447 rows x 1 columns]